
<img class="img-thumbnail"
     style="width: 120px;height: 120px;"
     src="http://mmbiz.qpic.cn/mmbiz/nC66I3UtD8RMFICt23LDmVeonJmaGiaVIX8vt0j1gakPStmLakEorwkGE9BMm69HBTBqRLK52ia5Q0VplqjR80Xg/0" />

<button type="button" class="js_btn1 btn btn-primary">群发测试--文本</button>
<button type="button" class="js_btn2 btn btn-primary">群发测试--新闻</button>
<br/>
<input class="js_s_input" type="text" placeholder="Goolge Search" />
<button type="button" class="js_search btn btn-primary">测试Goolge搜索</button>



<div class="js_log" style="font-size: 16px;background: #000;color: #fffe91;margin-top: 50px;min-height: 100px;"></div>


<script>
    (function(){
        $('.js_btn1').click(function(){
            $.ajax({
                url : '/wxapi/massSendText',
                success : function(rs){
                    $('.js_log').html(JSON.stringify(rs));
                }
            });
        });
        $('.js_btn2').click(function(){
            $.ajax({
                url : '/wxapi/massSendNews',
                success : function(rs){
                    $('.js_log').html(JSON.stringify(rs));
                }
            });
        });

        $('.js_search').click(function(){
            var str = $('.js_s_input').val();
            $.ajax({
                url : '/admin/api/search?q='+str,
                type : 'get',
                dataType : 'json',
                success : function(rs){
                    $('.js_log').html(JSON.stringify(rs));
                }
            })
        });

    })();

</script>