
<button type="button" class="js_btn btn btn-primary">爬sogou微信搜索</button>

<br>
<div class="js_log" style="font-size: 16px;background: #000;color: #fffe91;margin-top: 50px;min-height: 100px;"></div>
<script>
    (function(){
        $('.js_btn').click(function(){
            $.ajax({
                url : '/admin/api/getWeixinArticleList',
                success : function(rs){
                    $('.js_log').html(JSON.stringify(rs));
                }
            });
        });
    })();

</script>