body{
	
	width:100%;
	overflow:hidden;
	
}

.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center;
}

.page .wrap{
	height:500px;
}

.loading{
	width:100%;
	height:100%;
	position:absolute;
	font-size:100px;
	text-align:center;
	background: #009689;
}
.loading h1{
	font-size: 40px;
	margin-top: 35%;
	color: #ffffff;
}

.page-current{
	z-index:1;
}
.page img{
	position: absolute;
}



.page-5-1 .img_1 {
	height:auto;width:280px;
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-140px;
}
.page-5-1 .img_2 {
	height:auto;width:260px;
	position:absolute;
	left:50%;
	top:67%;
	margin-left:-130px;
}
