<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>发表文章</title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/func/publish.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script src="/func/publish.js"></script>


</head>
<body>

<header>
    <nav class="navbar">
        <div class="container">
            <a class="logo " href="http://www.haiwai.com">
                <img src="http://www.haiwai.com/images/hw_logo1.png" />
            </a>
            <div class="head-right">

            </div>
            <div class="header-title">发布</div>
        </div>
    </nav>
</header>

<div class="main-content container">

    <div class="row">
        <div class="col-xs-12">

            <form id="form_row_details" class="form-horizontal">

                <div class="form-group">
                    <div id="js_preview" class="col-sm-8 col-sm-offset-2" style="min-height: 100px;background: #EEEEEE;">
                        <h1></h1>
                        <section></section>
                    </div>
                </div>

                <div id="submit_error" class="alert alert-danger" role="alert" style="display: none"></div>

                <div class="form-group required">
                    <label class="col-xs-1 col-xs-offset-1 hidden-xs control-label" for="title">标题</label>
                    <div class="col-sm-8">
                        <input type="text" name="title" value="" id="title" class="form-control" placeholder="标题">          </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <textarea rows="2" class="form-control js_addText" placeholder="添加一段文字"></textarea>
                        <button type="button"
                                style="margin-top: 5px;"
                                class="btn btn-primary js_addBtn">添加</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <input style="display: none;" type="file" value="添加图片" multiple="multiple" class="js_addImage" accept="image/*" />
                        <button type="button"
                                style="margin-top: 10px;"
                                class="btn btn-primary js_addImageBtn">加入图片</button>
                    </div>
                </div>



                <!--<div class="form-group required">-->
                    <!--<label class="col-sm-2 hidden-xs control-label" for="category">类别</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<select name="category" id="category" class="form-control">-->
                            <!--<option value="" selected="selected">&#45;&#45; 请选择类别 &#45;&#45;</option>-->

                            <!--<option value="haiwai">haiwai</option>-->
                        <!--</select>          </div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 hidden-xs control-label" for="tags">标签</label>-->
                    <!--<div class="col-sm-10">-->

                <!--</div>-->



                <div class="form-group" style="margin-top: 30px;">
                    <div class="col-sm-8 col-sm-offset-2" style="">
                        <button type="button" 
                                style="width: 100%;"
                                id="post-btn" class="btn btn-primary" data-loading-text="发布...">发布</button>
                        <!--<button type="button" id="auto_save_remove" class="hidden"></button>-->
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>



</body>
</html>